#baseform {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
}

#ipinput {
    font-size: 20px;
    height: 6rem;
    align-content: center;
    border-radius: 25px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

#ipinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    opacity: 0.7;
 }
 #ipinput::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    opacity: 0.7;
 }
 #ipinput:-ms-input-placeholder { /* IE 10+ */
    color: grey;
    opacity: 0.7;
 }
 #ipinput:-moz-placeholder { /* Firefox 18- */
    color: grey;
    opacity: 0.7;
 }

#trazi-button {
    background-color: white;
    border-color: #d2d2d2;
    border-style: none;
    align-content: center;
    margin-left: 2rem;
    padding-left: 14px;
}

#msg {
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
  
tr:nth-child(even){
    background-color: #f2f2f2
}

tr:hover {
    background-color: black;
    color: white;
}
