<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <link rel="stylesheet" href="../static/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="formdiv">
            <form id="baseform" action="/save" method="POST">
                <label for="ip">IP adresa:</label><br>
                <input type="text" id="ip" name="ip" value={{ ip }}><br>
                <label for="os">Operacijski sustav:</label><br>
                <input type="text" id="os" name="os" value={{ os }}><br><br>
                <input type="hidden" name = "mac" value="{{ params }}"><button id="spremi-button" type="submit">Spremi</button>
            </form>
        </div>
    </body>

</html>