<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <link rel="stylesheet" href="../static/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="formdiv">
            <form id="baseform" action="/search" method="POST">
                <input id="ipinput" type="text" name="ipinput" placeholder="Unesite IP adresu">
                <button id="trazi-button" type="submit" value=""><i class="glyphicon glyphicon-search" style="font-size:30px;"></i></button>
            </form>
        </div>
        <div id="msg">
            <p>{{ msg }}</p>
        </div>
    </body>

</html>