<!DOCTYPE html>
<html>

    <head>
        <title>Scan IP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <body>

        <div class="container">
            <h1>Info Table</h1>
        <table id="data" class="table table-striped">
            <thead>
                <th>MAC</th>
                <th>IP</th>
                <th>First Seen</th>
                <th>Last Seen</th>
                <th>Last Scan</th>
                <th>OS</th>
                <th>Port Info</th>
            </thead>
            <tbody>
                {% for unos in lista %}
                <tr>
                    <td name="mac">{{ unos['mac'] }}</td>
                    <td name="ip">{{ unos['ip'] }}</td>
                    <td name="prva_pojava">{{ unos['prva_pojava'] }}</td>
                    <td name="zadnja_pojava">{{ unos['zadnja_pojava'] }}</td>
                    <td name="zadnji_sken">{{ unos['zadnji_scan'] }}</td>
                    <td name="os">{{ unos['OS'] }}</td>
                    <td name="portinfo">{{ unos['portinfo'] }}</td>
                    <td><form id="details-form" action="/edit" method="POST"><input id="edit-details" type="hidden" name = "mac" value="{{ unos['mac'] }}"><button type="submit" class="btn btn-outline-primary">Edit</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>   
        <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: false},
          {orderable: false},
          null,
          null,
          null,
          {orderable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false}],
      });
    });
  </script>
    </body>

</html>